<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/LENOVO/IdeaProjects/Java_Automation_Course">
        <classes>
            <class name="test_cases.AppSettingsTest">
                <methods>
                    <include name="resize_text_big"/>
                </methods>
            </class>
            <class name="test_cases.HomeTest">
                <methods>
                    <include name="homePage"/>
                </methods>
            </class>
            <class name="test_cases.LoginTest">
                <methods>
                    <include name="login_test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>